{
  "facebook": {
    "id": "페이스북 id",
    "pw": "페이스북 pw",
    "message": "페이스북 메세지",
    "date" : [
        "2017-11-02"
    ]
  },
  "discord": {
    "token": "디스코드 봇 토큰",
    "channelId": "디스코드 채널 ID",
    "message": "디스코드 메세지",
    "date" : [
        "2017-11-02"
    ]
  },
  "slack": {
    "token": "슬랙 봇 토큰",
    "message": "슬랙 메세지",
    "date" : [
        "2017-11-02",
        "2017-11-03"
    ]
  }
}